@import '../variables.css';

:root {
  --brand-color: #000;
}

.root {
  background: #fff;
  color: #000;
}

.container {
  /*margin: 0 auto;*/
  padding: 20px 0;
  min-width: var(--min-content-width);
  max-width: var(--max-content-width);
}

.catagory {
  color: #ccc;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: -20px;
}
